@import "./styles/vars.css";
@import "./styles/nullstyle.css";
body,
html {
  color: var(--black);
}

/* 


App 
.App {
  display: grid;
  grid-template-columns: 200px auto
}

.error {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
}

.error_message {
  text-decoration: none;
  color: white;
}

.sidebar__navLink,
.sidebar__navLink_active {
  display: block;
  text-decoration: none;
  padding: 10px 0;
  white-space: nowrap;
  color: var(--dark-white);
  font-size: 20px;
  font-weight: 100;
  transition: 0.3s;
  height: 30px;
}

.sidebar__navLink svg,
.sidebar__navLink_active svg {
  margin-bottom: -5px;
}

.sidebar__navLink:hover {
  color: var(--white);
}

.sidebar__navLink_active {
  font-weight: 800;
  color: var(--white);

}

.table {
  color: var(--white);
  background-color: var(--light-grey);
  border-radius: 5px;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
  margin-top: 10px;
}

.table__row:nth-child(odd) {
  background: var(--dark-grey);
}

.table_icon *:hover {
  transition: 0.5s;
  cursor: pointer;
  color: var(--dark-white);
}

.table_headers {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.table_headers svg {
  margin-left: 10px;
}

.textInt_input {
  border-radius: 5px;
  background-color: var(--dark-white);
  border: none;
  outline: none;
  height: 22px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .table {
    font-size: 12px;
  }
}


.searchForm {
  display: flex;
  flex-direction: row;
  background-color: var(--black);

}

.searchForm .textInt_input {
  width: 150px;
  margin-right: 5px;
  height: 30px;
  margin-bottom: 10px;

}




.textInt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.textInt_input {
  width: 100%;
}

.textInt_input:focus {
  background-color: var(--white);
}

.textInt_saved {
  display: none;
  height: 20px;
}

.textInt_changed {
  color: var(--dark-white);
  height: 20px;
  margin-bottom: 5px;
}

.textInt_changed:hover {
  color: var(--white);
  cursor: pointer;
}*/