.sidebar__navLink_active,
.sidebar__navLink {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.sidebar__navLink_active span {
    font-weight: 800;
}