.sidebar__navLink_active,
.sidebar__navLink {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    font-weight: 500;
}

.sidebar__navLink_active {
    font-weight: 900;
}