.dictionaryTable { margin: 16px 0px; width: 100%; border-collapse: collapse; }
.dictionaryTable thead .key { text-align: left; width: 400px; }
.dictionaryTable thead .text { text-align: left; }
.dictionaryTable thead .del { width: 20px; }
.dictionaryTable tbody tr { color: rgba(255, 255, 255, 0.3) }
.dictionaryTable tbody tr:nth-child(odd) { background-color: rgba(255, 255, 255, 0.05); }
.dictionaryTable tbody tr:hover { background-color: rgba(255, 255, 255, 0.1); color: rgba(255, 255, 255, 0.9) }
.dictionaryTable tbody .key { padding: 4px; }
.dictionaryTable tbody .text { padding: 4px; }
.dictionaryTable tbody .del > div { display: none; }
.dictionaryTable tbody tr:hover .del > div { display: block; }
